<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mundane.androidtechniqueapply">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activitity.VerticalViewPagerActivity">
            <intent-filter>
                <action android:name="VerticalViewPagerActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.HorizontalViewPagerActivity">
            <intent-filter>
                <action android:name="HorizontalViewPagerActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.TestOntouchEventActivity">
            <intent-filter>
                <action android:name="TestOntouchEventActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.ListViewInViewPagerActivity">
            <intent-filter>
                <action android:name="ListViewInViewPagerActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.ListViewInViewGroupActivity">
            <intent-filter>
                <action android:name="ListViewInViewGroupActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.ListViewInViewGroupActivity2">
            <intent-filter>
                <action android:name="ListViewInViewGroupActivity2"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.ListViewInScrollViewActivity">
            <intent-filter>
                <action android:name="ListViewInScrollViewActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.NotIntegerMaxValueBannerActivity">
            <intent-filter>
                <action android:name="NotIntegerMaxValueBannerActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.CustomPullToRefreshActivity">
            <intent-filter>
                <action android:name="CustomPullToRefreshActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitity.LikeNetEaseMusicAnimationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="LikeNetEaseMusicAnimationActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitity.LikeNetEaseMusiMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activitity.NestedScrollingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="NestedScrollingActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitity.LikeZhiHuActivity"
            android:label="仿知乎滑动隐藏"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="LikeZhiHuActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitity.RxjavaAndRetrofitActivity"
            android:label="@string/title_activity_rxjava_and_retrofit"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="RxjavaAndRetrofitActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.ArcMenuActivity">
            <intent-filter>
                <action android:name="ArcMenuActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.PermissionActivity">
            <intent-filter>
                <action android:name="PermissionActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitity.AnimationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="AnimationActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitity.FlowLayoutActivity">
            <intent-filter>
                <action android:name="FlowLayoutActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>